@import "tailwindcss";


.input {
  @apply w-full rounded-lg bg-neutral-800 px-4 py-2 text-sm outline-none focus:ring-2 focus:ring-green-600;
}

.btn-primary {
  @apply w-full rounded-xl bg-green-600 py-3 text-sm font-semibold hover:bg-green-700 transition;
}